body {
  max-width: 1200px;
}

.wrapper {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 3fr 5fr;
  grid-template-areas:
    "sidebar header header"
    "sidebar main main";
}

.wrapper > div {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.wrapper > div > span {
  font-size: 1.2rem;
}

.header {
  grid-area: header;
}

.main-content {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

@media screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: 95%;
    grid-template-areas:
      "sidebar"
      "main";
  }

  .header {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: 1fr;
    grid-template-areas:
      "sidebar"
      "header"
      "main";
  }
}
