.wrapper {
  width: 633px;
  height: 458px;
  background: url(complex-layout.png) no-repeat;
}
div {
  border: 1px solid black;
  background-color: white;
  opacity: 0.5;
}
.a {
}
.b {
}
.c {
}
.d {
}
.e {
}
.f {
}
.g {
}
.h {
}
.i {
}
.j {
}
